.App {
  text-align: center;
  padding: 100px;
  background-color: aqua;
  border: solid 3px;
}

.button1 {
  margin-top: 10px;
  background-color: coral;
  color: black;
  font-weight: bold;
  padding: 15px;
  border: solid 2px;
}

.button2 {
  margin-top: 10px;
  margin-left: 2px;
  background-color: coral;
  color: black;
  font-weight: bold;
  padding: 15px;
  border: solid 2px;
}

.count{
  font-size: x-large;
}

